<% provide(:title, 'CONTACT') %>

<ul class="contact">
	<li class="coin"><a href="mailto:hello@lukemacauley.com"><span class="heads">Client Services</span><span class="tails">hello@lukemacauley.com</span></a></li><br>
	<li class="coin"><a href="mailto:press@sydneyreising.com"><span class="heads">Press Enquiries</span><span class="tails">press@sydneyreising.com</span></a></li>
</ul>