<% provide(:title, 'RETURNS') %>

<div class="pages">
	<p>3.1 Phillip Lim is a longstanding client of King & Partners. We helped the designer establish his first digital presence in early 2011, and have assisted at every step in their subsequent growth. 31philliplim.com debuted as a simple brand site before transitioning into an eCommerce experience (powered then as now by Sellect, the word’s first social and eCommerce platform designed for the needs of the fashion and luxury goods business). In 2013, the year Lim was awarded CFDA designer of the year, we proudly launched 3.1 Philip Lim’s fully responsive digital flagship, and now the brand’s digital storefront looks clean, inviting, and fully shopable on every screen.</p>
</div>