<% provide(:title, 'THE BRAND') %>

<div class="pages fadeInUp">
	<p>LUKE MACAULEY is a luxury men’s accessories brand skipping traditional retail and selling direct to its clients. A collection based on the best materials and craftsmanship, made by hand in Scandicci, Italy, where artisans are producing the finest leather goods in the world. Each piece is constructed from Italian python snakeskin sourced from a Kering tannery; French calf and goat leather sourced from tanneries owned and used by Hermès.</p>
</div>