<header>
	<ul class="left">
		<li><%= link_to "Sign Up", 'javascript:void(0)', class: "sign_up_link" %> </li>
	</ul>
	<ul class="right">
		<li><%= link_to "Account", 'javascript:void(0)' %> </li>
		<li><%= link_to "Bag (0)", 'javascript:void(0)' %> </li>
	</ul>
</header>