<header>
	<ul class="right">
		<li class="coin"><%= link_to "<span class='heads'>Account</span><span class='tails'>Sign In/Register</span>".html_safe, 'javascript:void(0)' %></li>
		<li><%= link_to "Bag: 0", 'javascript:void(0)' %> </li>
	</ul>
</header>